In [22]:
from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.getOrCreate()

In [24]:
data_path = '/home/antoniojose/python_workspace'

In [25]:
file_path_json = data_path + '/data/pessoas.json'
people_json = spark.read.format('json').load(file_path_json)

In [26]:
people_json.count()

10

In [29]:
people_json.show()

+-----------+--------------+------------------+---+-----------------+---------+---------+
|Aniversario|        Cidade|             Email| ID|             Nome|     Sexo| Telefone|
+-----------+--------------+------------------+---+-----------------+---------+---------+
| 01/01/1990|     São Paulo|    joao@email.com|  1|       João Silva|Masculino|123456789|
| 15/05/1985|Rio de Janeiro|   maria@email.com|  2|   Maria Oliveira| Feminino|987654321|
| 10/11/1982|Belo Horizonte|  carlos@email.com|  3|     Carlos Souza|Masculino|555555555|
| 20/03/1995|      Salvador|     ana@email.com|  4|       Ana Santos| Feminino|999888777|
| 05/09/1978|      Brasília|   pedro@email.com|  5|      Pedro Costa|Masculino|111222333|
| 25/07/1989|        Recife|fernanda@email.com|  6| Fernanda Pereira| Feminino|777888999|
| 30/12/1980|      Curitiba|  thiago@email.com|  7|  Thiago Oliveira|Masculino|444333222|
| 12/06/1992|     Fortaleza|gabriela@email.com|  8|    Gabriela Lima| Feminino|666777888|
| 08/04/1987|  Porto Alegre| ricardo@email.com|  9|Ricardo Fernandes|Masculino|222111444|
| 18/10/1983|        Manaus|  marina@email.com| 10|   Marina Almeida| Feminino|333444555|
+-----------+--------------+------------------+---+-----------------+---------+---------+

In [30]:
people_json.columns

['Aniversario', 'Cidade', 'Email', 'ID', 'Nome', 'Sexo', 'Telefone']

In [33]:
people_dataframe = people_json.sample(False, fraction=1.0)

In [34]:
people_dataframe.show()

+-----------+--------------+------------------+---+-----------------+---------+---------+
|Aniversario|        Cidade|             Email| ID|             Nome|     Sexo| Telefone|
+-----------+--------------+------------------+---+-----------------+---------+---------+
| 01/01/1990|     São Paulo|    joao@email.com|  1|       João Silva|Masculino|123456789|
| 15/05/1985|Rio de Janeiro|   maria@email.com|  2|   Maria Oliveira| Feminino|987654321|
| 10/11/1982|Belo Horizonte|  carlos@email.com|  3|     Carlos Souza|Masculino|555555555|
| 20/03/1995|      Salvador|     ana@email.com|  4|       Ana Santos| Feminino|999888777|
| 05/09/1978|      Brasília|   pedro@email.com|  5|      Pedro Costa|Masculino|111222333|
| 25/07/1989|        Recife|fernanda@email.com|  6| Fernanda Pereira| Feminino|777888999|
| 30/12/1980|      Curitiba|  thiago@email.com|  7|  Thiago Oliveira|Masculino|444333222|
| 12/06/1992|     Fortaleza|gabriela@email.com|  8|    Gabriela Lima| Feminino|666777888|
| 08/04/1987|  Porto Alegre| ricardo@email.com|  9|Ricardo Fernandes|Masculino|222111444|
| 18/10/1983|        Manaus|  marina@email.com| 10|   Marina Almeida| Feminino|333444555|
+-----------+--------------+------------------+---+-----------------+---------+---------+

In [35]:
people_sorted = people_dataframe.sort('Nome')
people_sorted.show()

+-----------+--------------+------------------+---+-----------------+---------+---------+
|Aniversario|        Cidade|             Email| ID|             Nome|     Sexo| Telefone|
+-----------+--------------+------------------+---+-----------------+---------+---------+
| 20/03/1995|      Salvador|     ana@email.com|  4|       Ana Santos| Feminino|999888777|
| 10/11/1982|Belo Horizonte|  carlos@email.com|  3|     Carlos Souza|Masculino|555555555|
| 25/07/1989|        Recife|fernanda@email.com|  6| Fernanda Pereira| Feminino|777888999|
| 12/06/1992|     Fortaleza|gabriela@email.com|  8|    Gabriela Lima| Feminino|666777888|
| 01/01/1990|     São Paulo|    joao@email.com|  1|       João Silva|Masculino|123456789|
| 15/05/1985|Rio de Janeiro|   maria@email.com|  2|   Maria Oliveira| Feminino|987654321|
| 18/10/1983|        Manaus|  marina@email.com| 10|   Marina Almeida| Feminino|333444555|
| 05/09/1978|      Brasília|   pedro@email.com|  5|      Pedro Costa|Masculino|111222333|
| 08/04/1987|  Porto Alegre| ricardo@email.com|  9|Ricardo Fernandes|Masculino|222111444|
| 30/12/1980|      Curitiba|  thiago@email.com|  7|  Thiago Oliveira|Masculino|444333222|
+-----------+--------------+------------------+---+-----------------+---------+---------+

In [36]:
people_woman = people_dataframe.filter(people_dataframe['Sexo'] == 'Feminino')
people_woman.show()

+-----------+--------------+------------------+---+----------------+--------+---------+
|Aniversario|        Cidade|             Email| ID|            Nome|    Sexo| Telefone|
+-----------+--------------+------------------+---+----------------+--------+---------+
| 15/05/1985|Rio de Janeiro|   maria@email.com|  2|  Maria Oliveira|Feminino|987654321|
| 20/03/1995|      Salvador|     ana@email.com|  4|      Ana Santos|Feminino|999888777|
| 25/07/1989|        Recife|fernanda@email.com|  6|Fernanda Pereira|Feminino|777888999|
| 12/06/1992|     Fortaleza|gabriela@email.com|  8|   Gabriela Lima|Feminino|666777888|
| 18/10/1983|        Manaus|  marina@email.com| 10|  Marina Almeida|Feminino|333444555|
+-----------+--------------+------------------+---+----------------+--------+---------+

In [38]:
people_dataframe.groupBy('Sexo').count().show()

+---------+-----+
|     Sexo|count|
+---------+-----+
| Feminino|    5|
|Masculino|    5|
+---------+-----+

In [40]:
people_dataframe.groupBy('Sexo').count().show()
people_dataframe.write.csv('people_group_by_sex.csv')

+---------+-----+
|     Sexo|count|
+---------+-----+
| Feminino|    5|
|Masculino|    5|
+---------+-----+

In [41]:
! ls people_group_by_sex.csv

_SUCCESS  part-00000-4da17078-b22f-487b-a896-1f7672b58674-c000.csv